
{% extends "layout.html" %}
{% block body %}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Notess</h2>
        <p>Some of the notes available. We'll be up with some more soon.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="static/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Computer Science</h4>
                  <p class="price">Free</p>
                </div>

                <h3><a href="/files">Computer Networks</a></h3>
                <p>Notes description Notes description Notes description Notes description Notes description Notes description Notes description</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="static/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Dr. XYZ</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <p>Computerized</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="static/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Commerce</h4>
                  <p class="price">Free</p>
                </div>

                <h3><a href="/files">Business Analysis</a></h3>
                <p>Notes description Notes description Notes description Notes description Notes description Notes description Notes description</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="static/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <span>Prof. XYZ</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <p>Computerised</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="static/img/course-3.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Placement</h4>
                  <p class="price">Free</p>
                </div>

                <h3><a href="/files">Quantitavi Aptitude</a></h3>
                <p>Notes description Notes description Notes description Notes description Notes description Notes description Notes description</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="static/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <span>Prof. XYZ</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <p>Hand written</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

 {% endblock %}